.card__trash {
    background-image: url(../../../images/elements__trash.svg);
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;
    margin: 0;
    width: 18px;
    height: 19px;
    background-color: transparent;
    border: none;
    transition: 0.5s ease-in-out;
}

.card__trash:hover {
    cursor: pointer;
    opacity: 0.6;
}