.elements {
    padding-top: 50px;
    padding-bottom: 66px;
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 282px);
    row-gap: 20px;
    column-gap: 17px;
    justify-content: center;
    align-items: center;
  }

  @media screen and (max-width: 1216px) {
    .elements {
      max-width: calc(100% - 2 * 19px);
      grid-template-columns: repeat(auto-fit, minmax(282px, 282px));
    }
  }
  
  @media screen and (max-width: 768px)  {
    .elements {
      padding-top: 36px;
      padding-bottom: 48px;
    }
  }
  
