.popup__title-edit {
    font-size: 24px;
    font-weight: 900;
    line-height: 1.2;
    margin: 0;
    padding: 34px 64px 43px 14px;
}

@media screen and (max-width: 768px) {
    .popup__title-edit {
      font-size: 18px;
      padding: 25px 28px 70px 22px;
    }
  }