.card__photo {
    max-width: 282px;
    border-radius: 10px 10px 0 0;
    display: block;
    width: 100%;
    height: 282px;
    border: none;
    object-fit: cover;
  }

  .card__photo:hover {
    cursor: pointer;
  }