.card__heart {
    background-image: url(../../../images/elements__heart.svg);
    width: 22px;
    height: 19px;
    background-repeat: no-repeat;
    background-position: cover;
    /*margin-top: 30px;
    margin-right: 21px;*/
    padding: 0;
    transition: 0.5s ease-in-out;
    background-color: transparent;
    border: none;
  }
  
  .card__heart:hover {
    cursor: pointer;
    opacity: 0.5;
  }